<div id="sidebar">
    <pre><b>{{currentPath}}</b></pre>
    <table>
        <tbody>
        <tr>
            <a href="javascript:void(0);" ng-click="goUp()">
                <img src="/img/normal_folder.png" width="25" height="25"/>
                ...</a>
        </tr>
        <tr ng-repeat="entry in fsEntries">
            <td>
                <div ng-if="entry.dir == true">
                    <img src="/img/normal_folder.png" width="25" height="25" ng-click="changeDir(entry.name)"/>
                </div>
                <div ng-if="entry.dir == false">
                    <img src="/img/file-icon.png" width="25" height="25" ng-click="readFile(entry.name)"/>
                </div>
            </td>
            <td>
                <div ng-if="entry.dir == true">
                    <a class="link" ng-click="changeDir(entry.name)">
                        <div ng-if="entry.lastModificationAgeInMinutes > MINUTES_IN_DAY">
                            {{entry.name}}
                        </div>
                        <!--MARK AS RECENT-->
                        <div class="recent" ng-if="entry.lastModificationAgeInMinutes < MINUTES_IN_DAY">
                            {{entry.name}}
                        </div>
                    </a>
                </div>
                <div ng-if="entry.dir == false">
                    <a class="link" ng-click="readFileOnce(entry.name)">
                        <div ng-if="fileName == entry.name" class="bg-primary">
                            <strong>{{entry.name}}</strong>
                        </div>
                        <div ng-if="fileName != entry.name && entry.lastModificationAgeInMinutes > MINUTES_IN_DAY">
                            {{entry.name}}
                        </div>
                        <!--MARK AS RECENT-->
                        <div class="recent" ng-if="fileName != entry.name && entry.lastModificationAgeInMinutes < MINUTES_IN_DAY">
                            {{entry.name}}
                        </div>
                    </a>
                </div>

            </td>
        </tr>
        </tbody>
    </table>
</div>
<div id="content">
    <div data-ng-bind-html="file"></div>

    <p/>

    <div ng-if="file == ''">
        Select a file to view.
    </div>
    <p/><p/>
</div>
