/* Application styles */

/* Main page */
.main-container {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Notify service */
.alerts {
    position:fixed;
    width:500px;
    right:30px;
    top:30px;
    z-index:1050; /* 1030 in navbar */
}
.alerts>.alert-dismissable {
    position:relative;
    z-index:11;
    min-width:450px;
}

.link {
    cursor: pointer; cursor: hand;
}

.recent {
    color: crimson;
}

#sidebar {
    position: absolute;
    left: 0;
    width: 250px;
    padding: 15px 10px 15px 20px;
    background-color: #FFFFFF;
    overflow-y: scroll;
    height: 100%;
    /*max-height: 640px;*/
}

#content {
    background: #FFFFFF;
    top: 10px;
    position: absolute;
    left: 280px;
    width: 2000px;
    margin: 0 auto;
    text-align: left;
    /*overflow-x: auto; !important;*/
}

#loadingGif {
    position: relative;
    /*top: 10px;*/
    /*left: 10px;*/
    /*right: 0px;*/
    /*bottom: 0px;*/
    margin: 0;
}